<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="img/png" href="../../public/images/favicon-image.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>xxx a tech blog xxx</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="blog-title">
        <a href="/">xxx a tech blog xxx</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/"><button>xxx homepage xxx </button></a>
        <a href="/dashboard"><button>xxx dashboard xxx</button></a>
        <a href="/dashboard/create"><button>xxx create post xxx</button></a>
        <button id="logout">xxx logout xxx</button>
        {{else}}
        <a href="/"><button>xxx homepage xxx</button></a>
        <a href="/login"><button>xxx login xxx</button></a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      <p>Thanks for visiting this ~ tech blog ~ </p>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>