<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Tech Blog!</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="blog-title">
        <a href="/">xxx a tech blog xxx</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a class ="nav-buttons" href="/">xxx homepage xxx</a>
        <a class="nav-buttons" href="/dashboard">xxx dashboard xxx</a>
        <a class="nav-buttons" href="/dashboard/create">xxx create post xxx</a>
        <button id="logout">xxx logout xxx</button>
        {{else}}
        <a class="nav-buttons" href="/">xxx homepage xxx</a>
        <a class="nav-buttons" href="/login">xxx login xxx</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      <p>Thanks for visiting this ~ tech blog ~ </p>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>